<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Backbone Users Manager</title>

  <!-- styles -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- /styles -->
</head>
<body>

  <!-- page -->
  <div class="container">
    <h1>User Manager</h1>
    <hr />

    <div class="page">
    </div>
  </div>
  <!-- /page -->

  <!-- templates -->
  <!-- users template -->
  <script type="text/template" id="user_list_template">
    <a href="#/new" class="btn btn-primary">New User</a>
    <hr />

    <table class="table striped" id="users">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(users, function(user){ %>
          <tr>
            <td><%= user.get('firstname') %></td>
            <td><%= user.get('lastname') %></td>
            <td><%= user.get('age') %></td>
            <td width="150">
              <a href="#/edit/<%= user.id %>" class="btn btn-success">Edit</a>
              <button type="button" class="btn btn-danger delete-row" data-id="<%= user.id %>">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>
  <!-- /users templates -->

  <!-- edit user template -->
  <script type="text/template" id="edit_user_template">
    <form class="edit-user-form form-horizontal">
      <% if(user){ %>
        <input type="hidden" name="id" value="<%= user.id %>" />
      <% }; %>
      <legend><%= user ? 'Update' : 'Create' %> User</legend>

      <div class="edit-user-form-container">
        <div class="control-group">
          <label class="control-label" for="firstName">First Name</label>
          <div class="controls">
            <input type="text" name="firstname" value="<%= user ? user.get('firstname') : '' %>" id="firstName" placeholder="First Name" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lastName">Last Name</label>
          <div class="controls">
            <input type="text" name="lastname" value="<%= user ? user.get('lastname') : '' %>" id="lastName" placeholder="Last Name" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="age">Age</label>
          <div class="controls">
            <input type="text" name="age" value="<%= user ? user.get('age') : '' %>" id="age" placeholder="Age" />
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success"><%= user ? 'Update' : 'Create' %></button>
            <a href="#" class="btn btn-warning">Cancel</a>
            <% if(user){ %>
              <button type="button" class="btn btn-danger delete">Delete</a>
            <% }; %>
          </div>
        </div>
      </div>
    </form>
  </script>
  <!-- /edit user template -->
  <!-- /templates -->

  <!-- javascripts -->
  <script data-main="js/main.js" src="js/vendor/requirejs/require.js"></script>
  <!-- /javascripts -->

</body>
</html>